<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- jquery -->
	<!-- <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="crossorigin="anonymous"
        ></script> -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
	<script src="../Bootstrap/js/jquery.min.js"></script>
	<script src="../Bootstrap/js/popper.min.js"></script>
	<script src="../Bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<style>
		.pic .carousel-special {
			position: absolute;
			top: 0;
			left: 0;
			padding: 150px;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			display: none;
			align-content: center;

		}

		.pic:hover .carousel-special {
			display: block;


		}

		.pic .carousel-special-back {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30%;
			background-color: rgba(0, 0, 0, 0.6);
			display: flex;
		}

		.pic:hover .carousel-special-back {
			visibility: hidden;
		}

		.line {
			height: 0.6px;
			width: 65%;
			border: 2px solid black;
		}

		/* 輸入 去除邊框 */
		.inputNotOutline:focus {
			outline: 0;
		}

		/* 熱門文章 */
		.hot-article-box {

			height: 450px;
		}

		.hot-article-imgbox {

			float: left;
			height: 150px;
			padding: 10px;
		}

		.hot-article-listbox {

			float: right;
			height: 150px;
			padding: 15px;
		}

		.hot-article-img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* 熱門文章標題 */
		.hot-articleTitle {
			font-size: 18px;
			font-weight: bold;
			text-align: center;

		}

		.hot-articleDate {
			font-size: 16px;
			color: lightslategray;
			font-weight: lighter;
			text-align: center;

		}

		/* 熱門文章全部 */

		/* 限制 區塊文字 */
		/* 設定 overflow: hidden 後，因文字內容超出容器的高而被隱藏，
		並搭配 -webkit-line-clamp 而完成限制行數並顯示省略號的需求。 */
		.articleCont {
			width: 750px;
		}

		.multiline-ellipsis-head {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 5;
			overflow: hidden;
		}

		.multiline-ellipsis {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
		}
	</style>

	<!-- css -->
	<link rel="stylesheet" href="stylesheets/minyustyle.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<title>浪浪有窩</title>
</head>

<body>
	<!--navbar-->
	<div class="container-fluid header">
		<a href="#" class="logoImg navbar-brand">
			<img src="../img/Logo/改I2 2.png" alt="" class="logo">
			<img src="../img/Logo/字.png" alt="" class="logo-text">
		</a>
		<div class="nav">
			<!-- 漢堡選單 -->
			<ul class="menu burgar-menu">
				<li><a href="./X_index.html">首頁</a></li>
				<li><a href="./AdopList.html">毛孩領養</a></li>
				<li><a href="./Foster.html">刊登送養</a></li>
				<li><a href="./KnowList.html">毛孩知識</a></li>
			</ul>
			<a href="#" class="hamBar burgar-menu">
				<i>
					<img src="../img/icon/square.png" class="ham hamBar-icon"></img>
				</i>
			</a>
			<!-- navbar-user -->
			<div class="btn-group">
				<button class="btn  btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<img src="../img/icon/user.png" alt="" class="user-icon">
				</button>
				<div class="dropdown-menu  user-menu dropdown-menu-right">
					<ul>
						<li><a href="./UserEdit.html">會員資料</a></li>
						<li><a href="./UserFoster.html">我的送養文</a></li>
						<li><a href="./UserFollow.html">追蹤的毛孩</a></li>
						<li><a href="./UserMsg.html">通知</a></li>
						<li><a href="./FindMe.html">登出</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 頁籤 breadcrumb -->
	<div class="breadcrumb-block">
		<div class="container-fluid">
			<ol class="breadcrumb pb-0">
				<li class="breadcrumb-item "><a href="#">首頁</a></li>
				<li class="breadcrumb-item active" aria-current="page">毛孩知識</li>
			</ol>
		</div>
	</div>
	<!-- 輪播+文章選單  -->
	<!--大面積狀態 2空白+5輪播+3文章+2空白=12 -->
	<section class="row">
		<div class="col-12 col-md-2"></div>
		<!-- carousel 占比5等分 -->
		<div id="slides" class="carousel slide  col-md-5  carousel-vertical " data-ride="carousel" data-interval="3000"
			style="padding:0px; ">
			<div class="carousel-inner" style="border-radius: 40px 0px 0px 40px;height:100%;width: 100%;">
				<!-- 第一張圖 -->

				<div class="carousel-item active pic" style="height:100%">
					<img src="../img/animals/dog02.jpeg" class="d-block w-100 h-100  " alt="...">
					<div class="carousel-caption d-none d-md-block carousel-special-back">
						<h5 class="text-white">
							<%= data[1].ArticleTitle %>
						</h5>
						<br>
						<p class="text-white">
							<%= data[1].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
					<div class=" carousel-special  ">
						<h4 class="text-white text-center">
							<%= data[1].ArticleTitle %>
						</h4>
						<br>
						<p class="text-white text-center multiline-ellipsis-head">
							<%= data[1].ArticleCont %>
						</p>
						<p class="date text-white text-center">
							<%= data[1].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
				</div>

				<!-- 第二張圖 -->
				<div class="carousel-item pic " style="height:100%">
					<img src="../img/animals/dog04.jpeg" class="d-block w-100 h-100" alt="...">
					<div class="carousel-caption d-none d-md-block carousel-special-back">
						<h5 class="text-white">
							<%= data[2].ArticleTitle %>
						</h5>
						<!-- 標題字數需要小於20個全形字元 -->
						<br>
						<p class="text-white">
							<%= data[2].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
					<div class="carousel-special">
						<h4 class="text-white text-center">
							<%= data[2].ArticleTitle %>
						</h4>
						<br>
						<p class="text-white text-center multiline-ellipsis-head">
							<%= data[2].ArticleCont %>
						</p>
						<p class="date text-white text-center">
							<%= data[2].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
				</div>
				<!-- 第三張圖 -->
				<div class="carousel-item pic " style="height:100%">
					<img src="../img/animals/cat01.jpg" class="d-block w-100 h-100" alt="...">
					<div class="carousel-caption d-none d-md-block carousel-special-back">
						<h5 class="text-white">
							<%= data[1].ArticleTitle %>
						</h5>
						<br>
						<p class="text-white">
							<%= data[1].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
					<div class="carousel-special">
						<h4 class="text-white text-center">
							<%= data[1].ArticleTitle %>
						</h4>
						<br>
						<p class="text-white text-center multiline-ellipsis-head">
							<%= data[1].ArticleCont %>
						</p>
						<p class="date text-white text-center">
							<%= data[1].ArticleDate.toLocaleDateString() %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 熱門文章 占比3等分 -->
		<div class="col-md-3  "
			style="background-color: var(--BananaYellow); height: auto;border-radius: 0px 40px 40px 0px ">
			<div style=" display: flex; flex-direction: column;align-items: center; padding-top: 20px ;">
				<p class=" h3 ">熱門文章</p>
				<!-- 分界線 -->
				<div class="" style="background-color:#fff; padding:0.15rem ;border-radius: 40px ; width: 65%;"></div>
			</div>
			<ul class="col-md-12 hot-article-box">
				<!-- 熱門文章內容 -->
				<% for(var i=0; i<3; i++) { %>
					<li class="row ">
						<div class="col-md-6 hot-article-imgbox">
							<a href="">
								<img class="hot-article-img" src="../img/animals/dog04.jpeg" alt="" />
							</a>
						</div>
						<div class="col-md-6 hot-article-listbox">
							<a href="">
								<p class="hot-articleTitle">
									<%= data[i].ArticleTitle %>
								</p>
								<p class="hot-articleDate">
									<%= data[i].ArticleDate.toLocaleDateString() %>
								</p>
							</a>
						</div>
					</li>
					<% } %>
			</ul>
		</div>
		<div class="col-md-2"></div>
	</section>
	<!-- 搜尋欄 -->
	<section class="row" style="margin-top: 80px;">
		<div class="col-md-2"></div>
		<div class="col-md-8 row ">
			<h4 class="ml-0">全部文章</h4>
			<form class="form-inline my-2 my-lg-0 ml-auto ">
				<input class="inputNotOutline" type="search" placeholder="  輸入關鍵字..."
					aria-label="Search through site content" size="10"
					style="border: 1px solid black;border-radius: 40px;">
				<button class="btn  my-2 my-sm-0 b" type="submit"><i class="fas fa-search"></i></button>

			</form>
		</div>
		<div class="col-md-2"></div>

	</section>
	<!-- 分界線 -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="mb-3 line"></div>
		<div class="col-md-2"></div>
	</div>
	<!-- （圖片用圓角）一整頁顯示五個文章 -->
	<section class="row" style="margin-top: 80px;">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="flex-column ">
				<!-- 第一篇文 -->
				<% for(var i=0; i<data.length; i++) { %>
					<li class="row d-inline-flex mb-4 articleBox">
						<div class="col-md-4 col-sm-4 articleImg">
							<img class="img-fluid rounded" src="../img/animals/dog04.jpeg" alt="" />
						</div>
						<div class="col-md-8">
							<a href="">
								<h5>
									<%= data[i].ArticleTitle %>
								</h5>
							</a>
							<p class="figure-caption">
								<%= data[i].ArticleDate.toLocaleDateString() %>
							</p>
							<p class="multiline-ellipsis col-md-12">
								<%= data[i].ArticleCont %>
							</p>
							<a href="/KnowConent?id=<%= data[i].ArticleId %>&pageNo=<%= pageNo %>">More</a>
						</div>
					</li>
					<% } %>
		</div>
		<div class="col-md-2"></div>
	</section>
	<!-- 分頁 -->
	<nav aria-label="Page navigation example ">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<% for(var i=1; i <=totalPage; i++) { %>
				<li class="page-item"><a class="page-link" href="/KnowList?pageNo=<%= i %>">
						<%= i%>
					</a></li>
				<% } %>

					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
		</ul>
	</nav>
	<!-- footer -->
	<footer class="container-fluid footer">
		<div class="row justify-content-center w-100 m-0">
			<div class="col-10 col-md-10 copyright">
				本站所有資訊來源為會員自行刊登，本站對資訊內容無法確實檢查，僅就一般正常情理做審核，如有遺漏或侵犯它人權益由刊登者自行負擔相關責任。
				<br>如有任何建議或合作請與我們聯絡 <br>© 2021 Copyright .tw By MFEE18-No.8
			</div>
		</div>
	</footer>
</body>

<script>
	// 漢堡選單
	$(document).ready(function () {
		$('.burgar-menu').on('click', function (e) {
			$('body').toggleClass('burgar-menu-show');
		});
	});

</script>

</html>