<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewsManageList</title>

  <!-- jquery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js'
    integrity='sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=='
    crossorigin='anonymous'></script>
  <!-- Bootstrap CSS -->
  <!-- 連結方式建議使用cdn 嘗試一下未來工作的情況 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <script src="../Bootstrap/js/jquery.min.js"></script>
  <script src="../Bootstrap/js/popper.min.js"></script>
  <script src="../Bootstrap/js/bootstrap.min.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="stylesheets/minyustyle.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>浪浪有窩</title>


</head>

<body>

  <body>
    <!--navbar-->
    <div class="container-fluid header">
      <a href="#" class="logoImg navbar-brand">
        <img src="../img/Logo/改I2 2.png" alt="" class="logo">
        <img src="../img/Logo/字.png" alt="" class="logo-text">
      </a>
      <div class="nav">
        <!-- 漢堡選單 -->
        <ul class="menu burgar-menu">
          <li><a href="/">首頁</a></li>
          <li><a href="./AdopList.html">毛孩領養</a></li>
          <li><a href="./Foster.html">刊登送養</a></li>
          <li><a href="./KnowList.html">毛孩知識</a></li>
        </ul>
        <a href="#" class="hamBar burgar-menu">
          <i>
            <img src="../img/icon/square.png" class="ham hamBar-icon"></img>
          </i>
        </a>
        <!-- navbar-user -->
        <div class="btn-group">
          <button class="btn  btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../img/icon/user.png" alt="" class="user-icon">
          </button>
          <div class="dropdown-menu dropdown-menu-right user-menu">
            <div class="user-img"></div>
            <ul>
              <li>某某某</li>
              <li><a href="./UserEdit.html">會員資料</a></li>
              <li><a href="./UserFoster.html">我的送養文</a></li>
              <li><a href="./UserFollow.html">追蹤的毛孩</a></li>
              <li><a href="./UserMsg.html">通知</a></li>
              <li><a href="./FindMe.html">登出</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="breadcrumb-block">
      <div class="container-fluid ">
        <ol class="breadcrumb pb-0 ">
          <li class="breadcrumb-item "><a href="#">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">後臺管理</li>
          <li class="breadcrumb-item active" aria-current="page">最新消息管理</li>
          <li class="breadcrumb-item active" aria-current="page">新增</li>
        </ol>
      </div>
    </div>


    <div id="MyDivTitleList" class="container">
      <h2 class="title-lg">最新消息管理</h2>
    </div>



    <div id="ListDiv" class="container">
      <form action="/S" method="post">
        <table id="MyListTable" style="border-collapse:separate; border-spacing:10px 10px;">
          <tr class="MyListTr">
            <td>標題：</td>
            <td colspan="3">
              <input type="text" id="ListText" class="inputNotOutline" name="NewsTitle" value="">
            </td>
          </tr>

          <tr class="MyListTr">
            <td>發布日期：</td>
            <td><input type="date" class="inputNotOutline"></td>
            <td id="tilde">~</td>
            <td><input type="date" class="inputNotOutline"></td>
          </tr>

          <tr class="MyListTr">
            <td>狀態：</td>
            <td><input type="radio" name="Listdisplay">
              <label for="html" class="MyListLabel">顯示</label>
              <input type="radio" name="Listdisplay">
              <label for="html" class="MyListLabel">隱藏
              </label>
            </td>
          </tr>

          <tr class="MyListTr">
            <td colspan="4">
              <a href="/s">
                <input type="submit" class="ListSubmit" value="查詢"></a>
              <input type="reset" class="ListSubmit" value="清除">
            </td>
          </tr>
        </table>
      </form>
    </div>

    <div id="MyblueTable" class="container">
      <button class="btnLg btn-lightOrange btnAdd">
        <a href="/NewsManageAdd?pageNo=<%= pageNo %>" title="新增">新增</a>
      </button>

      <table class="table table-hover">
        <thead>
          <tr class="UserFoster-thead">
            <th scope="col">編號</th>
            <th scope="col">標題</th>
            <th scope="col">修改日期</th>
            <th scope="col">發佈日期</th>
            <th scope="col">狀態</th>
            <th scope="col">管理</th>
          </tr>
        </thead>
        <tbody>
          <%var sn=1; //宣告sn=編號 %>

            <% for(var i=0; i<data.length; i++) { %>
              <tr>
                <!-- 編號 -->
                <th scope="row">
                  <%=sn %>
                </th>
                <!-- 標題 -->
                <td>
                  <%= data[i].NewsTitle %>
                    </a>
                </td>
                <!-- 修改日期 -->
                <td>
                  <%= (data[i].ModifyDate).toLocaleDateString() %>
                </td>
                <!-- 發佈日期 -->
                <td>
                  <%= (data[i].ShowStartDate).toLocaleDateString() %>
                    </br> ~
                    </br>
                    <%= (data[i].ShowEndDate).toLocaleDateString() %>
                </td>
                <!-- 狀態 -->
                <td>
                  <% var statusStr='' ; %>
                    <% var status=data[i].NewsState; //宣告status=1或0 %>
                      <% (status==1) ? statusStr='顯示' : statusStr='隱藏' ; //判斷status=1，則statusStr為顯示，反之為隱藏 ; %>
                        <%= statusStr %>
                </td>
                <!-- 功能 -->
                <td>
                  <a href="/NewsManageEdit?id=<%= data[i].NewsId %>&pageNo=<%= pageNo %>">
                    <input type="button" class="ListButtonEdit" value="編輯">
                  </a>
                  <a href="/NewsManageDel?id=<%= data[i].NewsId %>&pageNo=<%= pageNo %>" title="刪除">
                    <input type="button" class="ListButtonDele" value="刪除">
                  </a>
              </tr>

              <% sn++; %>
                <% } %>
        </tbody>
      </table>


    </div>
    <!-- 分頁 -->
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <!-- 上一頁 -->
        <li class="page-item">
          <a class="page-link" href="/NewsManageList?pageNo=<%= (pageNo-1) %>" title="上一頁"" aria-label=" Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for(var i=1; i <=totalPage; i++) { %>
          <li class="page-item"><a class="page-link" href="/NewsManageList?pageNo=<%= i%>">
              <%= i%>
            </a>
          </li>
          <% } %>
            <!-- 下一頁 -->
            <li class="page-item">
              <a class="page-link" href="/NewsManageList?pageNo=<%= (pageNo+1) %>" title="下一頁" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
      </ul>
    </nav>
    <!-- footer -->
    <footer class="container-fluid footer">
      <div class="row justify-content-center w-100 m-0">
        <div class="col-10 col-md-10 copyright">
          本站所有資訊來源為會員自行刊登，本站對資訊內容無法確實檢查，僅就一般正常情理做審核，如有遺漏或侵犯它人權益由刊登者自行負擔相關責任。
          <br>如有任何建議或合作請與我們聯絡 <br>© 2021 Copyright .tw By MFEE18-No.8
        </div>
      </div>
    </footer>

    <script>
      // 漢堡選單
      $(document).ready(function () {
        $('.burgar-menu').on('click', function (e) {
          $('body').toggleClass('burgar-menu-show');
        });
      });
    </script>


  </body>

</html>