<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>浪浪有窩後臺管理系統</title>
  <!-- 頁籤icon -->
  <link href="#" rel="icon" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/461a428763.js" crossorigin="anonymous"></script>

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

  <!--JQ-->
  <link rel="stylesheet" href="/dist/css/jquery-ui.css">
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.css">
  <link rel="stylesheet" href="/dist/css/gl-style.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/dist/css/vnstyle.css">
  <link rel="stylesheet" href="/stylesheets/annistyle.css">

  <style>
    th {
      background-color: #DCE9F3;
      color: black;
      text-align: center;
      vertical-align: middle;
      /*line-height: 60px;
      height: 60px; */
      width: 200px;
      font-weight: bold;
    }

    td {
      /* height: 60px;

      line-height: 60px; */
      vertical-align: middle;
    }

    #main-sidebar {
      height: 100vh;
      background-color: #DCE9F3;
    }
  </style>

</head>

<body class="hold-transition sidebar-mini ">

  <!-- 左上角Logo -->
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>E</b>VE</span>
      <span class="logo-lg">
        <!-- <img style="height: 30px; width: 80px;" src="/img/Logo/字.png" alt=""> -->
      </span>
    </a>

    <!-- 上方標題 -->
    <nav class="navbar navbar-static-top align-items-center" role="navigation" style="line-height: 50px;">
      <!-- <a href="#" class="sidebar-toggle  visible-xs" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a> -->
      <!-- <h3 style=" text-align: left">後臺管理系統</h3> -->
      <div class="text-right align-items-center blueheader">
        <button type=" button" class="btn btn-info logout">登出</button>
      </div>
    </nav>


  </header>

  <!-- 左側選單 -->

  <aside class="main-sidebar" id="main-sidebar">
    <section class=" sidebar">
      <!-- Logo -->
      <img class="menu-logo" src="/img/Logo/logomix.png" style="width: 250px;" alt="">
      <ul class="sidebar-menu">
        <li class="treeview"><a class="menu-active" href="UserManageList"><span>會員資料管理</span><i
              class="fa fas fa-paw"></i></a></li>
        <li class="treeview"><a href="FosterManageList"><span>刊登送養審核</span><i class="fa fas fa-paw"></i></a></li>
        <li class="treeview"><a href="/BackManageList/NewsManageList"><span>最新消息管理</span><i
              class="fa fas fa-paw"></i></a></li>
        <li class="treeview"><a href="KnowManageList"><span>毛孩知識文章管理</span><i class="fa fas fa-paw"></i></a></li>
      </ul>

    </section>
  </aside>

  <div class="wrapper">

    <!-- 內頁 -->
    <div class="content-wrapper">
      <section class="content">
        <h3 class="title">會員資料管理</h3>
        <form action="" id="News" name="News" method="POST" class="table-responsive">

          <table class=" table table-striped">
            <!-- 會員編號 -->
            <tr class="">
              <th scope="col" style="vertical-align: middle;">
                會員編號
              </th>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <%= (data[0].MemberID) %>
                </div>
              </td>
            </tr>
            <!-- 註冊日期 -->
            <tr class="">
              <th scope="col" style="vertical-align: middle;">
                註冊日期
              </th>
              <td style="vertical-align: middle;">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="form-group">
                    <%= (data[0].RegistrationDate).toLocaleDateString() %>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 帳號(信箱) -->
            <tr class="">
              <th scope="col" style="vertical-align: middle;">
                帳號(信箱)
              </th>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <%= data[0].Email %>
                </div>
              </td>
            </tr>
            <!-- 手機 -->
            <!-- 姓名 -->
            <tr class="">
              <th scope="col" style="vertical-align: middle;">
                姓名
              </th>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <%= data[0].MemberName %>
                </div>
              </td>
            </tr>
            <!-- 手機 -->
            <tr class="">
              <th scope="col" style="vertical-align: middle;">
                手機
              </th>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <%= data[0].CellPhone %>
                </div>
              </td>
            </tr>


          </table>


          <div class="col-xs-12">
            <div class="search">

              <!-- 會員狀態 -->
              <div class=" col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                  <label>會員狀態</label>
                  <div class="clearfix"></div>

                  <label for="memberState_1">
                    <input type="radio" id="memberState_1" name="memberState" value="1" <%=( data[0].memberState==1 )
                      ? 'checked' :'' %> >
                    使用中
                  </label>

                  <label for="memberState_0">
                    <input type="radio" id="memberState_0" name="memberState" value="0" <%=( data[0].memberState==0 )
                      ? 'checked' :'' %> >

                    停權中</label>
                  <div class="clearfix"></div>


                </div>
              </div>


              <!-- 確認修改/返回 -->

              <div class="col-xs-12 text-right">

                <button type="submit" class="btn btn-primary">確認修改</button>
                <a href="/BackUserManage/UserManageList?pageNo=<%=pageNo%>">
                  <button type="button" class="btn btn-primary">返回</button>
                </a>
              </div>
              <div class="clearfix"></div>


            </div>
          </div>







        </form>
      </section>
    </div>
  </div>





  <!-- JS SCRIPTS -->

  <!-- jQuery 2.2.3 -->
  <script src="plugins/jQuery/jquery.js"></script>
  <script src="plugins/jQuery/jquery-ui.js"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/app.min.js"></script>
  <script src="dist/js/jquery.tablesorter.min.js"></script>
  <script src="dist/js/jquery.tablesorter.widgets.min.js"></script>

  <script>
    function Clone1() {
      var CloneModel = $("#cloneModel1").clone().html();
      $("#cloneModel1").parent().append(CloneModel);
    }

    $(function () {
      $("#datepicker").datepicker();
    });
    $(function () {
      $("#datepicker02").datepicker();
    });
    $(function () {
      $("#datepicker03").datepicker();
    });

  </script>

</body>

</html>